page-problem-detail {
.myTitle{
    color:#ced9f4;
    font-size: rem(38);
    padding:rem(30);
}
.myContent{
    padding:0 rem(30) rem(30) rem(30);
    color:#94a8da;
    font-size: rem(28);
}
.scroll-content{
    background-color:#152232 ;
}
.height18{
    height:rem(18);
    background-color: #0d1723;
}
}
