page-password-login {
.list-ios{
    margin-top:rem(18);
}
.item-ios{
   background-color: #152232; 
   color:#ced9f4;
   margin-bottom:rem(4);
}
.item-ios.activated{
    background-color:#111e2c;
}
.list-ios > .item-block:first-child{
    border-top:none
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
     border-bottom:none
}
.item-ios.item-block .item-inner,.list-ios > .item-block:last-child .item-inner, .list-ios > .item-wrapper:last-child .item-block .item-inner{
    border-bottom:1px solid #1f3249;
}
.myBtn{
    width:92%;
    margin:auto;
}
.text-input{
    font-size:rem(28);
}
}
