page-withdraw-ok {
.container{
    text-align: center;
    img{
        height:rem(260);
        width:rem(260);
        margin:rem(160) 0 rem(60) 0;
    }
    p{
        font-size: rem(40);
    }
    button{
        width:rem(260);
        height:rem(88);
        margin-top:rem(60);
        font-size: rem(34);
    }
}
}
