page-team-list {
table{
    margin-top:rem(20);
    width:100%;
    thead{
    background-color: #1b2441;
    tr{
    height:rem(110);
    }
    font-size: rem(28);
    
    }
    tbody{
        background-color: #152232;
        font-size: rem(24);
        tr{
            height:rem(100)
        }
    }
    tr{
        border-bottom:1px solid #1f3249;
        
        td,th{
            text-align: center;
        }
    }
    .noincome{
        border:none;
        background-color:#0d1723;
        img{
            width:rem(218);
            height:rem(202);
            margin-top:rem(95);
        }
        p{
            color:#4f5a8c;
            font-size: rem(28);
        }
    }
}
}
